<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas al Rescate - Contáctanos</title>
    <link rel="stylesheet" th:href="@{/css/contacto.css}">
    <!--Librerías css-->
    <th:block th:insert="~{fragmentos :: Links-css}" />
</head>

<body>
<!--Cabecera-->
<div th:replace="~{fragmentos :: Cabecera}"></div>

<form class="contact-form">
    <h3>CONTACTO</h3>
    <div class="form-row">
        <div class="form-group">
            <input type="text" placeholder="Nombres" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Apellidos" required>
        </div>
        <div class="form-group">
            <input type="email" placeholder="Correo" required>
        </div>
        <div class="form-group">
            <input type="tel" placeholder="Celular" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Ciudad" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Distrito" required>
        </div>
    </div>
    <div class="referral">
        <p>¿Cómo te enteraste de nosotros?</p>
        <label>
            <input type="radio" name="referralSource" value="Instagram" required> Instagram
        </label>
        <label>
            <input type="radio" name="referralSource" value="Facebook"> Facebook
        </label>
        <label>
            <input type="radio" name="referralSource" value="Google"> Google
        </label>
        <label>
            <input type="radio" name="referralSource" value="Recomendación"> Recomendación
        </label>
        <label>
            <input type="radio" name="referralSource" value="Otros"> Otros
        </label>
    </div>
    <div class="comment">
        <textarea placeholder="Déjanos tu comentario" rows="6"></textarea>
    </div>
    <div class="terms">
        <label>
            <input type="checkbox" required> Acepto los términos y condiciones
        </label>
    </div>
    <div class="submit">
        <button type="submit">Enviar</button>
    </div>
</form>

<!--Footer-->
<footer class="footer mt-auto mt-2 text-white" th:insert="~{fragmentos :: Pie}">
</footer>

<!-- Librerías de js-->
<th:block th:insert="~{fragmentos :: Links-js}"/>
</body>
</html>