<!-- Links de librerias css -->
<head th:fragment="Links-css" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.min.css">

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/gestion.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/tabla-style.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">

</head>

<!-- Cabecera -->
<div th:fragment="Cabecera" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="navbar">
        <div class="navbar-container">
            <!-- Logo -->
            <a th:href="@{/}" class="navbar-brand">
                <img th:src="@{/IMG/logoPatitas.png}" alt="Logo">
            </a>

            <!-- Botón hamburguesa -->
            <button class="navbar-toggle" id="navbar-toggle">☰</button>

            <!-- Menú -->
            <nav class="navbar-menu" id="navbar-menu">
                <ul class="navbar-links">
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/veterinarias}">Veterinarias</a></li>
                    <li><a th:href="@{/adopcion}">Adopción</a></li>

                    <!-- Dropdown Gestión -->
                    <li sec:authorize="hasAnyRole('ADMIN','VET','PACIENTE')" class="dropdown">
                        <a href="#" class="dropdown-btn">
                            Gestión <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/admin/usuario/nuevo}">
                                    <i class="bi bi-person me-2"></i> Usuario
                                </a>
                            </li>
                            <li sec:authorize="hasAnyRole('ADMIN','VET','PACIENTE')">
                                <a th:href="@{/paciente/mascota/nuevo}">
                                    <i class="fa-solid fa-paw me-2"></i> Mascota
                                </a>
                            </li>
                            <li sec:authorize="hasAnyRole('ADMIN','VET','PACIENTE')">
                                <a th:href="@{/admin/cita/nuevo}">
                                    <i class="bi bi-calendar-check me-2"></i> Cita
                                </a>
                            </li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <a th:href="${#authorization.expression('hasRole(''ADMIN'')') ? '/vet/veterinaria/nuevo' : '/vet/veterinaria/listar'}">
                                    <i class="bi bi-hospital me-2"></i> Veterinaria
                                </a>
                            </li>
                            <li sec:authorize="hasAnyRole('ADMIN','VET')">
                                <a th:href="@{/vet/veterinario/nuevo}">
                                    <i class="bi bi-person-badge me-2"></i> Veterinario
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a th:href="@{/blog}">Blog</a></li>
                    <li><a th:href="@{/contacto}">Contáctanos</a></li>

                    <!-- Usuario logueado -->
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a href="#" class="dropdown-content">
                            <i class="bi bi-shield-lock me-2" sec:authorize="hasRole('ADMIN')"></i>
                            <i class="bi bi-heart-pulse me-2" sec:authorize="hasRole('VET')"></i>
                            <i class="bi bi-person-circle me-2" sec:authorize="hasRole('PACIENTE')"></i>
                            <span sec:authentication="name">Usuario</span>
                            <i class="fa-solid fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="dropdown-item">
                                        <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!-- Usuario no autenticado - Se muestra cuando NO hay sesión -->
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/login}" class="login-btn">
                            <i class="bi bi-box-arrow-in-right me-1"></i> Iniciar Sesión
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>



<div th:fragment="Pie" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid text-center content-75">
        <div class="row g-0">

            <div class="col-md-6 mb-3 mt-3 text-start">
                <img th:src="@{/IMG/logoPatitas.png}" alt="Logo" height="75px" class="mb-2">

                <div class="social-icons d-flex gap-3">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <div class="col-md-3 mb-3 mt-3">
                <ul class="footer-links list-unstyled">
                    <li class="list-items"><a th:href="@{/}">Inicio</a></li>
                    <li class="list-items"><a th:href="@{/veterinarias}">Veterinarias</a></li>
                    <li class="list-items"><a th:href="@{/adopcion}">Adopción</a></li>
                    <li class="list-items"><a th:href="@{/blog}">Blog</a></li>
                    <li class="list-items"><a href="#">Política de privacidad</a></li>
                    <li class="list-items"><a href="https://consumidor.gob.pe/libro-de-reclamaciones/">Libro de reclamaciones</a></li>
                </ul>
            </div>


            <div class="col-md-3 mb-3 mt-3">
                <ul class="footer-links list-unstyled">
                    <li class="list-items">
                        <a href="#">
                            <i class="fa-regular fa-building"></i> Av. Aviación 350, San Borja
                        </a>
                    </li>
                    <li class="list-items">
                        <a href="tel:+512075800">
                            <i class="fa-solid fa-phone"></i> Central: 2075800
                        </a>
                    </li>
                </ul>
            </div>

            <hr class="footer-separator">

            <div class="footer-bottom d-flex flex-column flex-md-row justify-content-between align-items-start text-black">
                <p class="list-items mb-1 mb-md-0">&copy; 2025 Patitas al Rescate</p>
                <p class="list-items">Desarrollado con <i class="fa-solid fa-heart"></i> por <strong>Heber</strong> y <strong>Sofía</strong></p>
            </div>

        </div>
    </div>
</div>

<!-- Links de librerias js -->
    <th:block th:fragment="Links-js" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--CDN Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="/js/fragmentos.js"></script>

    <!-- DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.min.js"></script>
    <!-- Inicializar DataTable con idioma español -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.tablaData').forEach(function (table) {
                new DataTable(table, {
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                    }
                });
            });
        });

});

    </script>
</th:block>