<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas al Rescate - Inicio</title>
    <!--Librerías css-->
    <th:block th:insert="~{fragmentos :: Links-css}"/>
    <link th:href="@{/css/inicio.css}" rel="stylesheet">

    </head>

    <body>
    <!--Cabecera-->
    <div th:replace="~{fragmentos :: Cabecera}"></div>

    <!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/IMG/index1.jpg}" class="d-block w-100" alt="...">
                <!-- Texto de enganche y boton -->
                <div class="carousel-caption custom-caption ">
                    <h2>Reserva citas de veterinaria en línea las 24h</h2>
                    <h1>Tu Mascota Merece Lo Mejor</h1>
                    <p>En Patitas al Rescate conectamos a dueños de mascotas con las mejores clínicas veterinarias de Lima.
                        Rapidez, seguridad y sin salir de casa.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{/IMG/index2.jpg}" class="d-block w-100" alt="...">
                <!-- Texto de enganche y boton -->
                <div class="carousel-caption custom-caption ">
                    <h2>Reserva tu cita de peluquería las 24h</h2>
                    <h1>Tu Mascota Siempre Radiante</h1>
                    <p>En Patitas al Rescate conectamos a dueños de mascotas con las mejores peluquerías caninas y felinas
                        de
                        Lima. Comodidad, estilo y cariño, sin complicaciones.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{/IMG/vet2.jpg}" class="d-block w-100" alt="...">
                <!-- Texto de enganche y boton -->
                <div class="carousel-caption custom-caption ">
                    <h2>Consultas en línea 24h</h2>
                    <h1>Atención Veterinaria sin Complicaciones</h1>
                    <p>Accede a consultas veterinarias las 24 horas, sin necesidad de salir de casa, y asegura el bienestar
                        de tu mascota de manera rápida y eficaz.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{/IMG/peluqueria1.jpg}" class="d-block w-100" alt="...">
                <!-- Texto de enganche -->
                <div class="carousel-caption custom-caption ">
                    <h2>Estilo y Comodidad para tu Mascota</h2>
                    <h1>Peluquería de Confianza para Tu Mejor Amigo</h1>
                    <p>Con Patitas al Rescate, tu mascota disfrutará de un corte de pelo y baño con los mejores estilistas,
                        cuidando su comodidad y bienestar.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="about-us">
        <div class="container-about">
            <div class="about-text">
                <h2 class="title-about">Quiénes somos</h2>
                <p class="text-about">
                    Somos una plataforma dedicada a brindarte información clara, actualizada y confiable sobre las veterinarias más reconocidas de toda Lima. Nuestro objetivo es ayudarte a encontrar fácilmente el lugar ideal para cuidar la salud y el bienestar de tu mascota.
                    Ya sea que necesites atención médica, vacunación, servicios de emergencia, peluquería o cuidados especializados, aquí descubrirás las mejores opciones cerca de ti, con la calidad y el cariño que tu engreído merece.
                </p>
            </div>

            <div class="about-image">
                <img th:src="@{/IMG/logoPatitas.png}">
            </div>
        </div>
    </section>


    <!--Footer-->
    <footer class="footer mt-auto mt-2 text-white" th:insert="~{fragmentos :: Pie}">
    </footer>

    <!-- Librerías de js-->
    <th:block th:insert="~{fragmentos :: Links-js}"/>

    </body>

    </html>