<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas al Rescate - Mis Mascotas</title>
    <!-- Librerías css -->
    <th:block th:insert="~{fragmentos :: Links-css}" />
</head>
<body>
<!-- Cabecera -->
<div th:replace="~{fragmentos :: Cabecera}"></div>

<!-- Contenido principal -->
<div class="container-fluid my-4">
    <div class="col-md-9 mx-auto">
        <div class="agenda-container">
            <h4><i class="fa-solid fa-paw"></i> Mis Mascotas</h4>

            <!-- Iterar sobre las mascotas -->
            <div th:each="m : ${mascotas}" class="card mb-3 shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">
                        <i class="fa-solid fa-paw"></i>
                        <span th:text="${m.nombre}"></span>
                    </h5>
                    <!-- Icono de alerta si tiene citas próximas -->
                    <i class="bi bi-exclamation-triangle-fill text-warning" th:if="${m.alerta}" title="Cita próxima"></i>
                </div>

                <div class="card-body">
                    <p><i class="bi bi-box"></i> <strong>Tipo:</strong> <span th:text="${m.tipo}"></span></p>
                    <p><i class="bi bi-fingerprint"></i> <strong>Raza:</strong> <span th:text="${m.raza != null ? m.raza : 'No especificada'}"></span></p>
                    <p><i class="bi bi-calendar2-week"></i> <strong>Fecha Nac.:</strong>
                        <span th:text="${#temporals.format(m.fechaNacimiento, 'dd/MM/yyyy')}"></span>
                    </p>
                    <p>
                        <i class="bi bi-gender-ambiguous"></i>
                        <strong>Género:</strong>
                        <span class="badge"
                              th:classappend="${m.genero.name() == 'MACHO' ? 'bg-primary' :
                          (m.genero.name() == 'HEMBRA' ? 'bg-pink' : 'bg-secondary')}"
                              th:text="${m.genero}">
                        </span>
                    </p>
                    <p><i class="bi bi-journal-medical"></i> <strong>Observaciones médicas:</strong>
                        <span th:text="${m.observacionesMedicas != null ? m.observacionesMedicas : 'Ninguna'}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer mt-auto mt-2 text-white" th:insert="~{fragmentos :: Pie}"></footer>

<!-- Librerías js -->
<th:block th:insert="~{fragmentos :: Links-js}"/>
</body>
</html>
