* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
      display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow:hidden;
}
.container-general {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.container-imagen {
    width: 70%;
    height: auto;
    display:flex;
    border-radius: 4%;

}

.container-imagen img {
    width: 100%;
    height: auto;
}

.container-form {
    width:30%;
    padding: 50px;
}

@media (max-width: 1250px) {
    .container-imagen {
        display:none;
    }
    .container-form {
    width:100%
    }

}

.logo-form {
    display: flex;
    align-items: center;
    height: 100px;
}
.logo-form img {
    height: 80px;
    object-fit: cover;
}

.tabs {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    padding: 4px;
    background-color: #F0F0F0;
    border-radius: 10px;
    overflow: hidden;
}

.tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background: transparent;
    position: relative;
    z-index: 1;
}

.tab.active {
    color: #fff;
}


.indicator {
    position: absolute;
    top: 4px;
    left: 10px;
    width: calc(50% - 8px);
    height: calc(100% - 8px);
    background: #622A91;
    border-radius: 8px;
    transition: transform 0.4s ease;
    z-index: 0;
}

.tabs.sign-up-active .indicator {
    transform: translateX(100%);
}


.formulario {
    margin-top: 10px;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}
.form-group input:focus {
    border: 2px solid #7a3db0;
}
.form-group span {
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    color:#BABABA;
    margin-top:4px;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #B0B0B0;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.rules {
    text-align: left;
    font-size: 12px;
    color: #555;
    margin: 10px 0;
}
.rules p {
    margin: 4px 0;
}

/* Botón */
.btn {
    width: 100%;
    padding: 12px;
    background: #622A91;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

/* Socials */
.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.socials button {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: white;
    cursor: pointer;
}
.socials i {
    color: red;
}

.hidden {
    display: none;
}
.password-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.password-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
}

.password-wrapper .toggle-password {
    background: none;
    border: none;
    padding: 0 12px;
    cursor: pointer;
    color: #555;
    font-size: 1.1rem;
}

.password-wrapper .toggle-password:hover {
    color: #000;
}

.remember {
    display:flex;
    align-items: center;
    gap:6px;
}

.form-group.remember {
    display: flex;
    align-items: center;
    gap: 8px;
}
.remember label {
font-family: 'Poppins', sans-serif;
font-size:14px
}
.aviso {
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    color:red;
    margin-top:4px;
}
